<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

    <appender name="roll-by-size" class="org.apache.log4j.RollingFileAppender">

        <param name="file" value="target/log4j/roll-by-size/app.log"/>
        <param name="MaxFileSize" value="20KB"/>
        <param name="MaxBackupIndex" value="2"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n"/>
        </layout>

    </appender>

    <appender name="roll-by-size2" class="org.apache.log4j.rolling.RollingFileAppender">

        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="ActiveFileName" value="target/log4j/roll-by-size2/app.log"/>
            <param name="FileNamePattern" value="target/log4j/roll-by-size2/app.%i.log.gz"/>
            <param name="MinIndex" value="7"/>
            <param name="MaxIndex" value="17"/>
        </rollingPolicy>

        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="MaxFileSize" value="5120"/>
        </triggeringPolicy>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n"/>
        </layout>

    </appender>

    <appender name="roll-by-time" class="org.apache.log4j.rolling.RollingFileAppender">

        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <param name="FileNamePattern" value="target/log4j/roll-by-time/app.%d{HH-mm}.log" />
        </rollingPolicy>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p - %m%n" />
        </layout>

    </appender>

    <appender name="roll-by-time-and-size" class="org.apache.log4j.rolling.RollingFileAppender">

        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <param name="ActiveFileName" value="target/log4j/roll-by-time-and-size/app.log" />
            <param name="FileNamePattern" value="target/log4j/roll-by-time-and-size/app.%d{HH-mm}.%i{1}.log" />
        </rollingPolicy>

        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="MaxFileSize" value="10000" />
        </triggeringPolicy>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p - %m%n" />
        </layout>

    </appender>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="roll-by-time-and-size"/>
    </root>

</log4j:configuration>